body {
    margin: 0;
    padding: 0;
    font-family: Georgia;
}
.navbar {
    background-color: #f5b30c;
    position: fixed;
    top: 0;
    width: 100%;
    height: 66px;
    box-shadow: 0px 5px 7px rgb(160, 160, 160);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2vw;
    z-index: 1;
}
.navbar-buttons {
    display: flex;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
}
.nav-button {
    margin: 0px 2.5vw;
    font-size: 0.9vw;
}
.nav-button:active {
    color: aliceblue;
}

.section-outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
    height: calc(100vh - 22vh);
    padding-top: 14vh;
    background-image: url(../images/output-onlinepngtools.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(239, 233, 217);
    width: 46vw;
    box-shadow: 3px 5px 8px rgb(178, 178, 178);
    padding: 2vh 0px;
}
.section-welcome-text {
    font-size: 1.8vw;
    color: #4e3904;
    font-weight: bold;
    margin-bottom: 1vh;
    margin: 0px;
}
.section-tagline {
    font-size: 1.3vw;
    font-style: italic;
    margin: 0px;
    margin-top:2vh;
}
.center-heading{
    font-size: 2vw;
    font-weight: bold;
    font-style: italic;

}
.section-buttons-outer-div {
    display: flex;
}
.section-button-div {
    background-color: #f5b30c;
    /* border: 1px solid rgb(206, 124, 10); */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 22vw;
    padding: 1vh;
    box-shadow: 5px 6px 6px rgb(216, 201, 189);
    padding: 1vw;
    margin: 1.8vw;
    font-size: 1.3vw;
    font-weight: bold;
}
.section-button {
    background-color: black;
    color: white;
    padding: 0.7vw 3vw;
    border-radius: 20px;
    font-size: 1.1vw;
    margin-top: 5vh;
    margin-bottom: 1vh;
    box-shadow: 3px 4px 6px rgb(159, 132, 65);
    cursor: pointer;
}
.outer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 66px;
    height: calc(100vh - 11vh);
    padding-top: 3vh;
    background-image: url(../images/back-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-outer-div {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
}
.image-div{
    width: 100%;
    height: calc(100vh - 8.5vh);
    position: relative;
}
.image{
    opacity: 0.8;
}
.image-heading{
    position: absolute;
    color: white;
    font-size: 2.7vw;
    font-style: italic;
    font-weight: bold;
}
.image-heading1{
    top: 12vh;
    left: 3vw;
}
.image-heading2{
    top: 20vh;
    left: 8vw;
}
.image-heading3{
    top: 28vh;
    left: 13vw;
}
.image-subheading{
    position: absolute;
    font-size: 1.3vw;
    color: white;
}
.image-subheading1{
    top: 50vh;
    left: 4vw;
}
.image-subheading2{
    top: 54.5vh;
    left: 4vw;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    /* border: 4px solid rgb(200, 200, 200); */
    width: fit-content;
    border-radius: 10px;
    /* background-color: transparent; */
    background-color: white;
}
.form-header-div {
    padding: 2.5vh 1vw;
    background-color: #f5b30c;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 3px 5px rgb(199, 199, 199);
}
.form-heading{
    font-size: 1.3vw;
    font-weight: bold;
    margin: 0px;
}
.form-content {
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(189, 189, 189);
    border-top: none;
    border-left: 3px solid rgb(189, 189, 189);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 3px 8px rgb(189, 189, 189);
}
.form-labeled-field {
    display: flex;
    flex-direction: column;
    margin: 0.8vh 0px;
}
.form-label {
    /* color: rgb(133, 132, 132); */
    font-size: 1.2vw;
}
.form-content-field {
    width: 52vw;
    outline: none;
    border: 0.1px solid grey;
    border-bottom: 4px solid #f5b30c;
    /* background-color: transparent; */
    height: 6vh;
    font-size: 1.2vw;
    margin: 0.5vh 0px;
    border-radius: 10px;
    padding: 0px 0.2vw;
    box-shadow: 1px 1px 2px inset rgb(206, 206, 206);
}
.form-button {
    width: 12vw;
    background-color: black;
    color: white;
    font-size: 1.5vw;
    border-radius: 15px;
    box-shadow: 3px 5px 6px rgb(169, 168, 168);
    cursor: pointer;
    padding: 1vh 2vw;
    margin-top: 3vh;
}
.form-button-div {
    display: flex;
    justify-content: center;
}
.result {
    font-size: 1.3vw;
    margin: 0px;
}
.result-container {
    display: flex;
    justify-content: center;
}
.result-div{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(239, 233, 217);
    text-align: center;
    margin-top: 4vh;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 5px 6px rgb(169, 168, 168);
    padding: 1.5vh 0px;
}
.error-div{
    background-color: rgb(251, 98, 98);
    border: 1px solid red;
    border-radius: 15px;
    padding: 1vh 5vw;
    height: min-content;
}
.success-div{
    background-color: rgb(114, 193, 114);
    border: 1px solid green;
    border-radius: 15px;
    padding: 1vh 5vw;
    height: min-content;
    display: flex;
}
.msg-text{
    font-size: 1.2vw;
    margin: 0px;
}
.msg-button{
    background-color: green;
    color: white;
    padding: 0.3vw 1.5vw;
    border-radius: 5px;
    border: none;
    margin-left: 3vw;
    box-shadow: 1px 2px rgb(65, 113, 5);
    cursor: pointer;
    font-weight: bold;
}
